{% extends 'layouts/base.html' %}
{% block content %}
<section class="relative py-10 overflow-hidden">
  <img class="absolute top-0 right-0 xl:mt-10 -mr-24 lg:-mr-0" src="saturn-assets/images/blog/star-circle-right.svg" alt="">
  <img class="hidden sm:block absolute bottom-0 left-0 -mb-48 lg:mb-0" src="saturn-assets/images/blog/blue-light-left.png" alt="">
  <div class="relative container px-4 mx-auto">
    <div class="max-w-2xl mx-auto mb-15 text-center">
      <h1 class="font-heading text-5xl xs:text-5xl md:text-5xl font-bold text-gray-900 mb-6">
        <span>Mis eventos creados</span>
      </h1>
			<a  href="{{ url_for('main.events_new') }}" class="cursor-pointer text-orange-900 text-xl font-semibold text-gray-900">Crear nuevo evento</a>
    </div>
    <div class="max-w-2xl mx-auto mb-15 text-center">
      <nav class="flex border-b border-orange-500">
        <a href="{{ url_for('main.events_events') }}" class="mr-20 px-4 py-2 text-base font-bold font-medium text-gray border-b-2 hover:border-gray-500">
            Mis futuras participaciones
          </a>
        <a href="{{ url_for('main.events_admin') }}" class="mr-20 px-4 py-2 text-base font-medium text-gray-500 hover:border-b-2 hover:border-gray-500">
            Mis anuncios
        </a>
      </nav>
    </div>
    <div class="max-w-5xl mx-auto mt-5">
      {% for event in events %}
        <div class="py-12 border-t-2 border-gray-100">
          <div class="flex flex-wrap lg:flex-nowrap items-center">
            <div class="w-full lg:w-8/12 px-4 mb-10 lg:mb-0">
              <div class="max-w-2xl">
                <span class="block text-base text-gray-400 mb-1">{{ event.formatted_event_date }}</span>
                <span class="block text-base text-gray-400 mb-1">Número de participantes: {{ event.tickets.count() }}</span>
                <p class="text-2xl font-semibold text-gray-900">
                  {{ event.name }}
                </p>
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4 ml-auto text-right">
              <a class="inline-block text-xl font-semibold text-orange-900 hover:text-gray-900" 
                href="{{ url_for('main.events_show', id=event.id) }}">
                <span class="mr-2">Ver más</span>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}