{% macro render_field(field, input='input') %}
    <div class="mb-6">
        {{ field.label(class="block mb-1.5 text-sm text-gray-900 font-semibold") }}
        {{ field(input=input, class="w-full py-3 px-4 text-sm text-gray-900 placeholder-gray-400 border border-gray-200 focus:border-purple-500 focus:outline-purple rounded-lg") }}
        {% if field.errors %}
            <ul class="text-sm mt-2 text-red-500">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}